#accomplishments {
  padding: 5vh 0;

  .article_dots > * {
    background-color: var(--yellowPink3) !important;
  }
}

#acc-content {
  padding: 3.5vw 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;

  button {
    all: unset;
    opacity: 0;
    transform: translateY(20px);

    overflow: hidden;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 16vw;
    height: 12vw;

    background-image: linear-gradient(to left, var(--yellowPink3), var(--yellowPink1));
    border-radius: 2.14vw;

    box-sizing: border-box;
    box-shadow: 1px 1px 4px 2px var(--brown-50);

    &.loaded {
      animation: fadeInUp 0.5s ease forwards;
      animation-delay: calc(var(--i) * 100ms);
    }
  }

  img {
    opacity: 0.9;
    transition: opacity 0.3s ease-in;

    width: 88%;
    height: 88%;

    margin: calc(0.72vw - 4px) calc(0.96vw - 4px);

    border-radius: 1.545vw;

    border: 4px dotted var(--pink);
  }

  .cover_text {
    cursor: pointer;
    z-index: 10;
    position: relative;

    top: calc(-12vw - 4px);

    height: 100%;
    width: 100%;
    opacity: 0;

    transition: all 400ms;
    transition-delay: 30ms;

    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 300ms;
    }

    .cover_text-inner {
      width: 88%;
      height: 88%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 1.545vw;

      border: 4px dotted var(--beige);
    }

    h4,
    h5 {
      margin: 0;

      font-family: var(--font);
      text-align: center;
    }

    h4 {
      color: var(--pink);
      font-weight: 700;

      font-size: 1vw;
    }

    h5 {
      color: var(--beige);
      font-weight: 600;

      font-size: 1.3vw;
      font-style: italic;
    }
  }

  .cover {
    opacity: 0.99;
    z-index: 5;
    position: relative;
    top: -23.2vw;
    left: -17.2vw;
    height: 200%;
    width: 200%;
    transform: scale(0.1);
    border-radius: 50%;
    background-color: rgba(1, 1, 1, 0.85);
    background-image: radial-gradient(circle, var(--yellowPink3), var(--yellowPink1));
    transition: all 750ms ease-in-out;

    &.active {
      transform: scale(1.55);
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
