#contact {
  min-height: 90vh;
  padding: 15vh 0 5vh 0;

  /* .sectionHeader {
    padding-top: 15vh;
  } */

  .article_dots > * {
    background-color: var(--yellowPink1) !important;
  }

  div.text {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.text > * {
    margin: 0;

    font-family: var(--font);
    text-align: center;

    color: var(--darkGreen);
  }

  p {
    width: 80%;

    padding: 5vh 0 5vh 0;
    font-size: 1.5vw;
    font-weight: 350;
    letter-spacing: 0.02em;

    a {
      all: unset;
      letter-spacing: 0.02em;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
    }

    a:hover {
      color: var(--yellowPink1);
    }
  }
}
