#contact {
  min-height: 90vh;
  padding: 15vh 0 5vh 0;

  .article_dots > * {
    background-color: var(--yellowPink1) !important;
  }

  .text {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text > * {
    margin: 0;

    font-family: var(--font);
    text-align: center;

    color: var(--darkGreen);
  }

  p {
    width: 80%;

    padding: 5vh 0 5vh 0;
    font-size: 1.5vw;
    font-weight: 350;
    letter-spacing: 0.02em;

    a {
      all: unset;
      letter-spacing: 0.02em;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
    }

    a:hover {
      color: var(--yellowPink1);
    }
  }
}

@media (max-width: 1024px) {
  #contact {
    width: 100vw;
    height: auto;
    min-height: auto;
    padding: 50px 0 50px 0;

    p {
      padding: 10px 0 30px 0;
      font-size: 1.2rem;
    }

    form {
      width: 85%;
      max-width: 85%;
      padding: 10px;
    }

    .butt-txt {
      font-size: 1.5rem;
    }
  }
}
