form {
  display: flex;
  flex-direction: column;

  gap: 1vh;
  width: 100%;
  max-width: 50%;
  margin: 0.5vw auto;
  padding: 1vw 2vw;
  background-color: var(--yellowBeige);
  outline: 4px solid var(--yellowBeige);
  border: 2px dashed var(--yellow);
  border-radius: 1.5rem;
  /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05); */
  font-family: var(--font);
  color: var(--darkGreen);

  input {
    border-radius: 1000px;
  }

  textarea {
    border-radius: 25px;
  }

  input,
  textarea {
    padding: 0.75rem 1rem;
    border: 2px solid var(--yellow);

    font-size: 1vw;
    background: #fffefc;
    color: var(--darkGreen);
    font-family: var(--font);

    transition: border-color 0.3s;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: var(--pink);
  }

  textarea {
    min-height: 120px;
    resize: vertical;
  }

  .recaptcha-info {
    padding-top: 0.5vw;
    font-size: 0.4vw;
    color: var(--brown);

    a {
      text-decoration: none;
      color: var(--pink);
      transition: text-shadow 0.1s linear;
    }
    a:hover {
      text-shadow: 0px 0px 0.5px var(--pink);
    }
  }
}
