form {
  display: flex;
  flex-direction: column;

  gap: 1vh;
  width: 100%;
  max-width: 50%;
  margin: 0.5vw auto;
  padding: 1vw 2vw;
  background-color: var(--yellowBeige);
  outline: 4px solid var(--yellowBeige);
  border: 2px dashed var(--yellow);
  border-radius: 1.5rem;
  /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05); */
  font-family: var(--font);
  color: var(--darkGreen);

  input {
    border-radius: 1000px;
  }

  textarea {
    border-radius: 25px;

    min-height: 120px;
    resize: vertical;
  }

  /* https://codepen.io/lucasyem/pen/ZEEYKdj */

  .form_group {
    width: 100%;
    position: relative;
  }

  .field {
    padding: 0.75rem 1rem;
    border: 2px solid var(--yellow);
    margin: 2px 0;

    box-sizing: border-box;
    width: 100%;

    font-size: 1vw;
    background: #fffefc;
    color: var(--darkGreen);
    font-family: var(--font);

    transition: border-color 0.3s;
  }

  .field::placeholder {
    color: transparent;
  }

  .field:placeholder-shown ~ label {
    font-size: 0.9vw;
    cursor: text;
    top: 1.05vw;
    left: 0.8vw;

    color: var(--brown);
    background: white;
  }

  .field:focus {
    outline: none;
    border-color: var(--pink);
  }

  label,
  .field:focus ~ label {
    display: block;
    position: absolute;
    padding: 0 3px;

    top: -0.3vw;
    left: 1.5vw;

    font-size: 0.7vw;
    font-weight: 450;
    color: var(--yellow);
    background: linear-gradient(var(--yellowBeige), white);

    transition: 0.2s;
  }

  .field:focus ~ label {
    color: var(--pink);
  }

  .recaptcha-info {
    padding-top: 0.5vw;
    font-size: 0.4vw;
    color: var(--brown);

    a {
      text-decoration: none;
      color: var(--pink);
      transition: text-shadow 0.1s linear;
    }
    a:hover {
      text-shadow: 0px 0px 0.5px var(--pink);
    }
  }

  textarea::-webkit-scrollbar {
    width: 3px;
  }

  textarea::-webkit-scrollbar-track {
    margin-top: 15px;
    margin-bottom: 13px;
  }

  textarea::-webkit-scrollbar-thumb {
    border-right: --beige 1px solid;
    border-radius: 4px;
    background: var(--yellowPink3);
  }
}
