#acc_modal {
  position: fixed;
  z-index: 2000;
  left: 7vw;
  top: 14vh;
  width: 86vw;
  height: 100vh;
  background-color: var(--beige);

  .modal_inner {
    position: relative;
    z-index: 105;
    top: -14vh;
    left: -7vw;
    width: 100vw;
    height: 100vh;

    background-color: rgba(1, 1, 1, 0.8);
    opacity: 0;
    transition: opacity 0.4s ease-in;

    .swiper-container {
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 50vw 1fr;
      grid-template-rows: 1fr;

      * {
        place-self: center;
      }
    }

    &.active {
      opacity: 1;
    }
  }

  button {
    all: unset;
    cursor: pointer;
  }

  button.arrow {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 100%;

    background-color: var(--yellowPink2);

    transition: all 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2.5px dashed var(--beige);

    outline: 3.5px solid var(--yellowPink2);

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      background-color: var(--yellowPink4);
      outline-color: var(--yellowPink4);
      transform: scale(1.2) translateY(3px);
    }

    svg {
      height: 80%;
      width: 80%;
      color: var(--beige);
    }
  }

  button.close {
    position: relative;
    top: -100vh;
    margin: 10px 10px 0 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    float: right;

    border: 3px dotted var(--darkGreen);

    outline: 3px solid var(--yellowPink3);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellowPink3);

    transform: translateY(-100px);
    transition: transform 300ms, background-color 0.1s, margin-top 0.1s;
    transition-property: transform, background-color, margin-top;
    transition-delay: 0s, 0s, 0s;

    &.active {
      transition-delay: 800ms, 0s, 0s;

      transform: translateY(0);
    }

    &:hover {
      background-color: var(--yellowPink2);
      outline-color: var(--yellowPink2);
    }

    &:active {
      background-color: var(--yellowPink4);
      outline-color: var(--yellowPink4);
      margin-top: 0.6vw;
    }

    svg {
      height: 80%;
      width: 80%;
      color: var(--darkGreen);
    }
  }

  .swiper {
    outline: 6px double var(--pink);

    border: 3px solid black;

    border-radius: 25px;

    max-width: 100%;
    width: 100%;
    height: calc(28.1vw / 3 * 4);
    object-fit: contain;
  }

  .swiper-pagination-bullet {
    opacity: 0.5;
    background-color: var(--yellowPink2);
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--pink);
  }
}

@media (max-width: 1024px) {
  #acc_modal,
  #acc_modal .modal_inner {
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
  }

  .swiper-container {
    grid-template-columns: 100vw !important;

    button {
      display: none !important;
    }

    .swiper {
      width: 90vw !important;
      height: 67.5vw !important;
    }
  }
}
