.aside_dot,
.aside_line {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2vw;
}

.aside_line {
  padding-bottom: 0.3vw;
  padding-top: 0.65vw;
}

aside .smallDot,
aside .bigDot {
  background-color: var(--yellow);
}

.line {
  height: 7vw;
  width: 0.15vw;
  border-radius: 0.2vw;
  margin-bottom: 0.1vw;
  padding-top: 0.4vw;

  background-color: var(--yellow);
}

.drop_top {
  position: absolute;
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 10px 110px 30px 110px;
  background-color: var(--yellow);
  transform: translateX(-0.28vw) translateY(-0.7vw) rotate(-135deg);
}

.drop_second_left,
.drop_second_right {
  position: absolute;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 10px 150px 30px 150px;
  background-color: var(--yellow);
}

.drop_second_right {
  transform: translateX(0.16vw) translateY(-0.01vw) rotate(-95deg);
}

.drop_second_left {
  transform: translateX(-0.5vw) translateY(-0.01vw) rotate(185deg);
}

.drop_third_left,
.drop_third_right {
  position: absolute;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 10px 150px 30px 150px;
  background-color: var(--yellow);
}

.drop_third_right {
  transform: translateX(0.2vw) translateY(0.65vw) rotate(-80deg);
}

.drop_third_left {
  transform: translateX(-0.45vw) translateY(0.65vw) rotate(170deg);
}
