.sectionHeader {
  display: flex;
  justify-content: center;
}

.article_dots {
  display: flex;
  align-items: center;

  .bigDot {
    width: 0.68vw !important;
    height: 0.68vw !important;
    transform: translateY(0.2vw);
  }
  .smallDot {
    width: 0.45vw !important;
    height: 0.45vw !important;
    margin: 0 0.35vw;
    transform: translateY(0.22vw);
  }
}
