#projects {
  min-height: 90vh;
  padding: 15vh 0;

  align-items: center;

  * {
    font-family: var(--font);
    color: var(--darkGreen);
  }

  .article_dots > * {
    background-color: var(--yellowPink2) !important;
  }
}
