#title {
  height: 90vh;

  & > * {
    margin: 0;

    font-family: var(--font);
    text-align: center;

    color: var(--darkGreen);
  }

  h3 {
    padding-top: 12vh;
    font-size: 2vw;
    font-weight: 100;
  }

  h1 {
    padding-bottom: 4vh;
    font-size: 6vw;
    font-weight: 500;
    color: var(--pink);
  }

  .dot_i {
    display: flex;
    top: -5.6vw;
    left: 46.4vw;
    position: relative;
    width: 0.8vw;
    height: 0.8vw;
    background-color: var(--yellow);
    border-radius: 100%;
  }

  p {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3vh;
    font-size: 1.5vw;
    font-weight: 300;
  }
}

#carousel {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  transform: translateX(1.5vw);
  padding-bottom: 3vh;
  flex-wrap: wrap;
  height: 3vw;

  .p-carousel {
    width: fit-content;
    margin: 0;
    font-size: 1.3vw !important;
    padding-bottom: 0;
  }

  & > div {
    transform: translateX(0.5vw) translateY(-0.1vw);
    overflow-y: hidden;
    height: 1.8vw;
    min-width: 7vw;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.4vw;

    /*https://html-css-js.com/css/generator/text-shadow/*/
    text-shadow: 0.5px 0.5px 0 var(--brown), 0.5px -0.5px 0 var(--brown),
      -0.5px 0.5px 0 var(--brown), -0.5px -0.5px 0 var(--brown), 0.5px 0px 0 var(--brown),
      0px 0.5px 0 var(--brown), -0.5px 0px 0 var(--brown), 0px -0.5px 0 var(--brown);
  }

  .carousel0 {
    color: var(--yellowPink3);
  }
  .carousel1 {
    color: var(--yellowPink2);
  }
  .carousel2 {
    color: var(--yellowPink1);
  }
  .carousel3 {
    color: var(--yellow);
  }
  .carousel4 {
    color: var(--pink);
  }

  .carousel {
    text-align: left;
    margin: 0.1vw;
  }

  .carousel-enter {
    transform: translateY(100%);
  }

  .carousel-enter-active {
    transition: all 1s ease;

    transform: translateY(0);
  }

  .carousel-exit {
    position: absolute;
    top: 0;

    transform: translateY(0);

    transition: 1s;
  }

  .carousel-exit-active {
    position: absolute;
    top: 0;
    transition: all 1s ease;

    transform: translateY(-100%);
  }
}
