header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 14vh;
  background-color: var(--beige);

  transition: all 0.1s linear;
}

.headerActive {
  height: 11vh;
  box-shadow: 0px 4px 27px 0px var(--brown);
}

.headerHidden {
  top: -11vh;
  box-shadow: none;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

#nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

#nav_ul > * {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0.8vw;
}

.nav_links {
  all: unset;
  margin: 0 0.4vw;
  color: var(--darkGreen);
  font-family: var(--font);
  font-weight: 500;
  font-size: 1vw;
  transition: text-shadow 0.1s linear;
}

.nav_links:hover {
  cursor: pointer;
  text-shadow: 0 0 0.02px var(--darkGreen);
}

.nav_dots {
  height: 100%;
  position: relative;

  margin: 0 0.05vw;
  transform: translateY(0.05vw);
}

.nav_dots0 {
  background-color: var(--yellowPink3);
}

.nav_dots1 {
  background-color: var(--yellowPink2);
}

.nav_dots2 {
  background-color: var(--yellowPink1);
}

#nav_resume {
  all: unset;
  color: var(--yellow);
  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 0.08vw;
  font-size: 1.1vw;
  padding: 0.3vw 0.5vw;
  border-radius: 0.7vw;
  margin-right: 0.5vw;
  margin-left: 0.1vw;
  width: 5vw;
  text-align: center;

  border: var(--yellow) 2px solid;
}

#nav_resume:hover {
  cursor: pointer;
  font-size: 1.2vw;
}

/* Accomplishments */

.homebutton {
  all: unset;
  margin-left: 2.4vw;
  width: 1.2vw;
  height: 1.1vw;
  transform: translateY(0.5vw);
  transition-delay: 0.1s;
  transition: all 1ms;
}

.homebutton:hover {
  background-image: linear-gradient(to left, var(--yellow), var(--yellowPink3));
  cursor: pointer;
}

.homebutton svg {
  all: unset;
  display: block;

  position: relative;

  top: -1.55vw;
  left: -0.8vw;

  width: 3vw;
  height: 3vw;
}
