#article_title {
  height: 90vh;
}

#article_title > * {
  margin: 0;

  font-family: var(--font);
  text-align: center;

  color: var(--darkGreen);
}

#article_title > h3 {
  padding-top: 12vh;
  font-size: 2vw;
  font-weight: 100;
}

#article_title > h1 {
  padding-bottom: 4vh;
  font-size: 6vw;
  font-weight: 500;
  color: var(--pink);
}

.article_title_dotOveri {
  display: flex;
  top: -5.6vw;
  left: 46.4vw;
  position: relative;
  width: 0.8vw;
  height: 0.8vw;
  background-color: var(--yellow);
  border-radius: 100%;
}

#article_title > p {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3vh;
  font-size: 1.5vw;
  font-weight: 300;
}

#article_title_link {
  font-size: 0.9vw;
  font-weight: 600;
  border: var(--darkGreen) 1px solid;
  border-radius: 0.6vw;
  margin: 6vh auto 0 auto;
  padding: 0.2vw 0.45vw;
  text-decoration: none;

  text-shadow: none;
  background-color: var(--beige);
  cursor: pointer;
  transition: all 0.1s linear;
}

#article_title_link:hover {
  text-shadow: 0 0 0.01px var(--darkGreen);

  animation: gradient 0.5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background: linear-gradient(180deg, var(--beige) 100%, var(--yellowPink3) 100%);
  }
  10% {
    background: linear-gradient(180deg, var(--beige) 95.5%, var(--yellowPink3) 100%);
  }
  20% {
    background: linear-gradient(180deg, var(--beige) 91%, var(--yellowPink3) 100%);
  }
  30% {
    background: linear-gradient(180deg, var(--beige) 86.5%, var(--yellowPink3) 100%);
  }
  40% {
    background: linear-gradient(180deg, var(--beige) 82%, var(--yellowPink3) 100%);
  }
  50% {
    background: linear-gradient(180deg, var(--beige) 77.5%, var(--yellowPink3) 100%);
  }
  60% {
    background: linear-gradient(180deg, var(--beige) 73%, var(--yellowPink3) 100%);
  }
  70% {
    background: linear-gradient(180deg, var(--beige) 68.5%, var(--yellowPink3) 100%);
  }
  80% {
    background: linear-gradient(180deg, var(--beige) 64%, var(--yellowPink3) 100%);
  }
  90% {
    background: linear-gradient(180deg, var(--beige) 59.5%, var(--yellowPink3) 100%);
  }
  100% {
    background: linear-gradient(180deg, var(--beige) 55%, var(--yellowPink3) 100%);
  }
}

.article_title_link_out {
  animation: gradient-out 0.7s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes gradient-out {
  0% {
    background: linear-gradient(180deg, var(--beige) 55%, var(--yellowPink3) 100%);
  }
  10% {
    background: linear-gradient(180deg, var(--beige) 59.5%, var(--yellowPink3) 100%);
  }
  20% {
    background: linear-gradient(180deg, var(--beige) 64%, var(--yellowPink3) 100%);
  }
  30% {
    background: linear-gradient(180deg, var(--beige) 68.5%, var(--yellowPink3) 100%);
  }
  40% {
    background: linear-gradient(180deg, var(--beige) 73%, var(--yellowPink3) 100%);
  }
  50% {
    background: linear-gradient(180deg, var(--beige) 77.5%, var(--yellowPink3) 100%);
  }
  60% {
    background: linear-gradient(180deg, var(--beige) 82%, var(--yellowPink3) 100%);
  }
  70% {
    background: linear-gradient(180deg, var(--beige) 86.5%, var(--yellowPink3) 100%);
  }
  80% {
    background: linear-gradient(180deg, var(--beige) 91%, var(--yellowPink3) 100%);
  }
  90% {
    background: linear-gradient(180deg, var(--beige) 95.5%, var(--yellowPink3) 100%);
  }
  100% {
    background: linear-gradient(180deg, var(--beige) 100%, var(--yellowPink3) 100%);
  }
}

.article_title_spec {
  transform: translateX(-2vw);
  width: 50% !important;
  font-size: 1.3vw !important;
}

#carousel {
  position: absolute;

  transform: translateX(0.5vw);
  overflow-y: hidden;
  height: 1.8vw;
  min-width: 7vw;

  letter-spacing: 1px;

  font-weight: 700;
  /*https://html-css-js.com/css/generator/text-shadow/*/
  text-shadow: 0.5px 0.5px 0 var(--brown), 0.5px -0.5px 0 var(--brown),
    -0.5px 0.5px 0 var(--brown), -0.5px -0.5px 0 var(--brown), 0.5px 0px 0 var(--brown),
    0px 0.5px 0 var(--brown), -0.5px 0px 0 var(--brown), 0px -0.5px 0 var(--brown);
}

.carousel0 {
  color: var(--yellowPink3);
}
.carousel1 {
  color: var(--yellowPink2);
}

.carousel2 {
  color: var(--yellowPink1);
}
.carousel3 {
  color: var(--yellow);
}

.carousel4 {
  color: var(--pink);
}

.carousel {
  text-align: left;
  margin: 0.1vw;
}
.carousel-enter {
  transform: translateY(100%);
}
.carousel-enter-active {
  transition: all 1s ease;

  transform: translateY(0);
}
.carousel-exit {
  position: absolute;
  top: 0;

  transform: translateY(0);

  transition: 1s;
}
.carousel-exit-active {
  position: absolute;
  top: 0;
  transition: all 1s ease;

  transform: translateY(-100%);
}
