.theme-toggle {
  --theme-toggle__within--duration: 500ms;
  border: none;
  background: 0 0;
  cursor: pointer;
}

.theme-toggle__within * {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__within--duration))
    cubic-bezier(0, 0, 0, 1.25);
}

.theme-toggle--toggled .theme-toggle__within .theme-toggle__within__circle {
  transform: scale(1.5);
}

.theme-toggle--toggled .theme-toggle__within .theme-toggle__within__inner {
  transform: translate3d(3px, -3px, 0) scale(1.2);
}

.theme-toggle--toggled .theme-toggle__within g path {
  transform: scale(0.65);
}

@media (prefers-reduced-motion: reduce) {
  .theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}
