header {
  width: 100%;
  height: 14vh;
}

nav {
  position: fixed;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 14vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--beige);

  transition: all 0.3s ease-in-out;

  &.active {
    top: 0;
    height: 11vh;
    box-shadow: 0px 4px 27px 0px var(--brown);
    transition: all 0.3s ease-in-out;
  }

  &.hidden {
    opacity: 0;
    top: -13vh;

    box-shadow: none;

    transition: all 0.3s ease-in-out;
  }

  &.hidden:hover {
    opacity: 1;
    top: 0;

    height: 11vh;

    box-shadow: 0px 4px 27px 0px var(--brown);
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
  }

  ul.loaded li {
    animation: fadeInUp_nav 0.4s ease forwards;
  }

  li {
    margin: 0 0.8vw;

    opacity: 0; /* fadeInUp_nav start*/
    transform: translateY(3px); /* fadeInUp_nav start*/

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.1s ease-in-out;

    button {
      all: unset;

      margin: 0 0.4vw;

      font-family: var(--font);
      font-weight: 600;
      font-size: 1.1vw;

      color: var(--darkGreen);

      cursor: pointer;

      transition: text-shadow 0.05s linear;
    }
  }

  li:has(button:hover) {
    transform: translateY(-2px) !important;
  }

  li:has(button:active) {
    transform: translateY(-1px) !important;
  }

  li:first-child:has(button:hover) {
    transform: translateY(0) !important;
  }

  button:hover {
    text-shadow: 0 0 0.02px var(--darkGreen);
  }

  .dark-mode-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dark-mode-btn svg {
    display: block;

    min-height: 25px;
    min-width: 25px;
    height: 1.5vw;
    width: 1.5vw;

    color: var(--yellow);
  }

  .dark-mode-btn button,
  .dark-mode-btn {
    margin: 0;
  }
}

@keyframes fadeInUp_nav {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav_dots {
  height: 0.4vw;
  width: 0.4vw;
  margin: 0 0.05vw;

  border-radius: 100%;

  transform: translateY(0.04vw);
  transition: all 50ms ease-in-out;
}

.nav_dots0 {
  background-color: var(--yellowPink3);
}

.nav_dots1 {
  background-color: var(--yellowPink2);
}

.nav_dots2 {
  background-color: var(--yellowPink1);
}

.nav_dots_left.hovered {
  animation: nav_dots_left 3s ease-in-out infinite;
}

.nav_dots_right.hovered {
  animation: nav_dots_right 3s ease-in-out infinite;
}

.nav_dots.exit {
  transform: scale(1.3) translateY(0.04vw) translateX(0);
}

@keyframes nav_dots_left {
  0% {
    transform: scale(1.3) translateY(0.04vw) translateX(0);
  }
  3.33% {
    transform: scale(1.3) translateY(0.04vw) translateX(-4px);
  }
  6.66% {
    transform: scale(1.3) translateY(0.04vw) translateX(0);
  }
  10% {
    transform: scale(1.3) translateY(0.04vw) translateX(-2px);
  }
  13.33%,
  100% {
    transform: scale(1.3) translateY(0.04vw) translateX(0);
  }
}

@keyframes nav_dots_right {
  0% {
    transform: scale(1.3) translateY(0.04vw) translateX(0);
  }
  3.33% {
    transform: scale(1.3) translateY(0.04vw) translateX(4px);
  }
  6.66% {
    transform: scale(1.3) translateY(0.04vw) translateX(0);
  }
  10% {
    transform: scale(1.3) translateY(0.04vw) translateX(2px);
  }
  13.33%,
  100% {
    transform: scale(1.3) translateY(0.04vw) translateX(0);
  }
}

.homebutton {
  all: unset;

  margin-left: 2.5vw;
  width: 2.15vw;
  height: 2.2vw;

  border-radius: 45% 45% 0% 0% / 45% 45% 0% 0%;

  cursor: pointer;

  &.top,
  &.home-top,
  &.active {
    visibility: hidden;
  }

  &.hidden {
    transition-delay: 0.5s;
  }

  .homebutton_bck {
    width: 1.2vw;
    height: 1.1vw;

    background-image: linear-gradient(to left, var(--yellow), var(--yellowPink3));
    opacity: 0.01;

    transform: translateY(1vw) translateX(0.5vw);
    transition: transform 0.3 ease-in;
  }

  svg {
    all: unset;

    position: relative;
    top: -1.6vw;
    left: -0.45vw;

    width: 3vw;
    height: 3vw;

    display: block;

    color: var(--darkGreen);
  }
}

.homebutton.hidden .homebutton_bck,
.homebutton.path .homebutton_bck {
  transition: opacity 0.3s;
}

.homebutton:hover .homebutton_bck {
  opacity: 1;
}

.homebutton.path {
  opacity: 0; /* fadeInUp_nav start*/
  transform: translateY(3px); /* fadeInUp_nav start*/
}

.homebutton.path.loaded {
  animation: fadeInUp_nav 0.4s ease forwards;
}
