/*inspired by https://uiverse.io/augustin_4687/modern-husky-6*/

#nav_resume {
  all: unset;

  width: 6.4vw;
  height: 2.3vw;
  margin-right: 0.5vw;
  margin-left: 0.1vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border: var(--beige) 3px solid;
  border-radius: 1000px;
  outline: 4px solid var(--yellowPink1);

  font-family: var(--font);
  font-weight: 700;
  font-size: 1.2vw;
  letter-spacing: 0.08vw;

  color: var(--darkGreen-resume);
  background-color: var(--yellowPink1);

  transition: transform 150ms ease, box-shadow 150ms ease, outline 50ms ease;

  &:hover:not(.mobile) {
    outline: 4px solid var(--yellowPink2);

    cursor: pointer;

    animation: nav_resume_outline 2s ease-in-out infinite;

    & > div {
      background-color: var(--yellowPink2);
      transition: background-color 500ms ease;
      & > span {
        transform: scale(1.1);
        transition: all 150ms ease;
      }
    }
  }

  &:active {
    transform: translate(3px, 3px);
    background-color: var(--pink);
    border: var(--pink) 3px solid;
  }

  & > div {
    position: relative;

    width: 6.3vw;
    height: 2.2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1000px;

    background-color: var(--yellowPink1);

    pointer-events: none;

    transition: background-color 500ms ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      border-radius: 1000px;
      opacity: 0.9;

      background-image: radial-gradient(rgb(255 255 255 / 80%) 20%, transparent 20%),
        radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
      background-position: 0 0, 4px 4px;
      background-size: 10px 10px;

      mix-blend-mode: hard-light;
      pointer-events: none;

      animation: dots 0.7s infinite linear;
    }

    & > span {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      pointer-events: none;

      transition: all 150ms ease;
    }
  }
}

@keyframes dots {
  0% {
    background-position: 0 0, 5px 5px;
  }
  100% {
    background-position: 10px 0, 15px 5px;
  }
}

@keyframes nav_resume_outline {
  0% {
    outline: 4px solid var(--yellowPink2);
  }
  8% {
    outline: 6px solid var(--yellowPink2);
  }
  16% {
    outline: 3px solid var(--yellowPink2);
  }
  20%,
  100% {
    outline: 4px solid var(--yellowPink2);
  }
}
