/*inspired by https://uiverse.io/augustin_4687/modern-husky-6*/

#nav_resume {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 6.4vw;
  height: 2.3vw;
  border-radius: 1000px;

  margin-right: 0.5vw;
  margin-left: 0.1vw;

  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 0.08vw;
  font-size: 1.2vw;

  color: var(--darkGreen);
  background-color: var(--yellowPink1);
  border: var(--beige) 3px solid  ;
  outline: 4px solid var(--yellowPink1);



  transition: transform 150ms ease, box-shadow 150ms ease, outline 50ms ease;

  &:hover {
    cursor: pointer;

    outline: 4px solid var(--yellowPink2);

    & > div {
      background-color: var(--yellowPink2);
      transition: background-color 500ms ease;
      & > span {
        transition: all 150ms ease;
        transform: scale(1.1);
      }
    }
  }

  &:active {
    transform: translate(3px, 3px);
    background-color: var(--pink);
    border: var(--pink) 3px solid;
  }

  & > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    width: 6.3vw;
    height: 2.2vw;
    border-radius: 1000px;

    transition: background-color 500ms ease;

    background-color: var(--yellowPink1);

    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 1000px;
      opacity: 0.9;
      background-image: radial-gradient(rgb(255 255 255 / 80%) 20%, transparent 20%),
        radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
      background-position: 0 0, 4px 4px;
      background-size: 10px 10px;
      mix-blend-mode: hard-light;
      animation: dots 0.7s infinite linear;
    }

    & > span {
      pointer-events: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: all 150ms ease;
    }
  }
}

@keyframes dots {
  0% {
    background-position: 0 0, 5px 5px;
  }
  100% {
    background-position: 10px 0, 15px 5px;
  }
}
